# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env
.env.*

# Conda
.conda/
conda-meta/

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
